{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/header.css' %}?v=7"/>


<nav class="nav-bar">
    <a href="{% url "hometemp" %}" class="nav-link">خانه</a>
    <a href="{% url "shoppingcarttemp" %}" class="nav-link">سبد خرید</a>
    {% if user.is_authenticated %}
        <a href="{% url "logintemp" %}" class="nav-link">ورود یا ثبت نام</a>
    {% endif %}
    <a href="{% url "profiletemp" %}" class="nav-link">پروفایل</a>

    <a href="/contact" class="nav-link">تماس با ما</a>
</nav>

{% endblock header %}