

{% extends "base.html" %}
{% load static %}


{% block header %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% include "header.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

{% endblock header %}


{% block body %}
<link rel="stylesheet" href="{% static 'css/shoppingcart.css' %}?v=8"/>

{% for item in shoppingcart %}
    <div class="cart-item">
        <div class="product-info">
        <h4 class="product-name">{{ item.product.name }}</h4>
        <p class="product-price">{{ item.product.price }} تومان</p>
        </div>
        <div class="product-count-form">
        <span class="count-label">تعداد: {{ item.count }}</span>
        <form method="POST" action="{% url 'deleteselectedtemp' item.product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-trash" title="حذف محصول"></button>
        </form>
        <form method="POST" action="{% url 'selectproducttemp' item.product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-add" title="افزودن محصول"></button>
        </form>
        </div>
    </div>
    {% endfor %}

<div class="cart-total-tag">
    <span>مبلغ نهایی:</span>
    <span class="total-amount">{{ price }} تومان</span>
</div>

<div class="cart-total-tag">
    <span>موجودی شما:</span>
    <span class="total-amount">{{ balance }} تومان</span>
</div>
<br>
<form method="POST" action="{% url 'finalregistertemp' %}">
    {% csrf_token %}
    <button type="submit" title="ثبت نهایی" class="product-post-btn">ثبت نهایی</button>
</form>

{% endblock body %}